#Project Overview: Develop a Python-based inventory management system for a retail store. The system will manage products, track sales, and perform inventory updates. 
#It will use dictionaries for storing product details and sales records, sets for categorizing products, and file handling for data storage and retrieval.
#This program has two python scripts 
